<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02_2022RR651_2022VM651</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L02_2022RR651_2022VM651.styles.css" asp-append-version="true" />
</head>
<style>
    header {
        background-color: #343a40;
        color: white;
        width: 100%;
        height: 210px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        padding:40px;
    }

    .footer{
        background-color: #343a40;
        color: white;
        width: 100%;
        height: 100px
    }

    .imagen{
        background: transparent; 
        border: none; 
    }

    .header-section {
        text-align: center;
        padding: 40px 20px;
    }

        .header-section img {
            width: 80px;
            height: 80px;
            margin-top: 20px;
        }

    .header-title {
        font-size: 2em; 
        margin: 20px 0;
    }

    .header-subtitle {
        font-size: 1.2em; 
        margin: 10px 0;
    }

</style>
<body>
    <header>
       
            <div class="header-section">
                <img class="imagen" src="https://i.ibb.co/yBMrd1wb/LOGO-UNICAES.jpg" />
                <h4 class="header-title">Comentarios por Libros</h4>
                <p class="header-subtitle">Seleccione el autor -> Seleccione el Libro -> Se muestran los comentarios existentes -> Adicione un nuevo comentario</p>
            </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer text-center">
        <p>2025-1-04 - Paola Valeria Vidal Magaña, 2025-1-04 - Rodolfo Rivas Rodriguez</p>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
