@model IEnumerable<L02_2022RR651_2022VM651.Models.libros>

@{
    ViewData["Title"] = "Seleccionar Libro";
}

<div class="container">
    <h2 class="text-center">Comentarios por Libros</h2>
    <p class="text-center">Seleccione un libro del autor para ver los comentarios existentes.</p>

    
    <ul class="progressbar text-center">
        <li>Autores</li>
        <li class="active">Libros</li>
        <li >Comentarios Existentes</li>
        <li>Nuevo Comentario</li>
    </ul>

    <br />

    <!-- Autor -->
    <div class="card">
        <div class="card-body">
            <h4><strong>Autor:</strong> <span class="text-primary">@ViewBag.AutorSeleccionado</span></h4>
        </div>
    </div>

    <br />

    <!-- Tabla de Libros -->
    <div class="card">
        <div class="card-body">
            <h5 class="text-primary">Seleccione el Libro del autor</h5>
            <table class="table">
                <tbody>
                    @foreach (var libro in Model)
                    {
                        <tr>
                            <td>@libro.nombre</td>
                            <td class="text-end">
                                <a asp-controller="Prototipo03" asp-action="Index" asp-route-idLibro="@libro.id" asp-route-idAutor="@libro.id_autor" class="btn btn-success">Seleccionar</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

