@{
    ViewData["Title"] = "Comentarios por Libros - Listado de Autores";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="progressbar text-center">
                <li class="active">Autores</li>
                <li>Libros</li>
                <li>Comentarios Existentes</li>
                <li>Nuevo Comentario</li>
            </ul>

            <h4 style="color:cornflowerblue;">Autor</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del Autor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["listadoDeAutores"] != null && ((IEnumerable<dynamic>)ViewData["listadoDeAutores"]).Any())
                    {
                        foreach (var autor in (IEnumerable<dynamic>)ViewData["listadoDeAutores"])
                        {
                            <tr>
                                <td>@autor.id</td>
                                <td>@autor.autor</td>
                                <td>
                                    <a href="@Url.Action("Prototipo02", "Prototipo01", new { idAutor = autor.id })" class="btn btn-success">Seleccionar</a>

                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">No hay autores registrados.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
